.button {
    padding: 10px 20px;
    min-height: 50px;
    border-radius: var(--radius-lg);
    transition: background-color 100ms ease;
    user-select: none;

    --bg-clr: var(--primary);
    --hover-clr: var(--primary-light);
    --active-clr: var(--primary-dark);
    --text-clr: var(--text-inv);
    --text-clr-hover: var(--text-inv);
    --text-clr-active: var(--text-inv);

    background-color: var(--bg-clr);
    color: var(--text-clr);


    & svg {
        fill: var(--text-clr);
    }
    &:hover {
        background-color: var(--hover-clr);
        color: var(--text-clr-hover);
        & svg {
            fill: var(--text-clr-hover);
        }
    }
    &:active {
        background-color: var(--active-clr);
        color: var(--text-clr-active);
        & svg {
            fill: var(--text-clr-active);
        }
    }

    &[data-size="small"] {
        padding: 0 15px;
        min-height: 35px;
        border-radius: var(--radius);
    }


    &[data-type="danger"] {
        --bg-clr: var(--error);
        --hover-clr: var(--error-dark);
        --active-clr: var(--error);
        --text-clr: var(--text);
        --text-clr-hover: var(--text);
        --text-clr-active: var(--text);
    }
    &[data-type="danger-secondary"] {
        --bg-clr: var(--bg-light);
        --hover-clr: var(--error);
        --active-clr: var(--error-dark);
        --text-clr: var(--text);
        --text-clr-hover: var(--text);
        --text-clr-active: var(--text);
    }

    &[data-type="warning"] {
        --bg-clr: var(--warning);
        --hover-clr: var(--warning-dark);
        --active-clr: var(--warning);
        --text-clr: var(--text);
        --text-clr-hover: var(--text);
        --text-clr-active: var(--text);
    }

    &[data-type="success"] {
        --bg-clr: var(--success);
        --hover-clr: var(--success-dark);
        --active-clr: var(--success);
        --text-clr: var(--text);
        --text-clr-hover: var(--text);
        --text-clr-active: var(--text);
    }

    &[data-type="secondary"] {
        --bg-clr: var(--bg-light);
        --hover-clr: var(--primary);
        --active-clr: var(--primary-dark);
        --text-clr: var(--text);
        --text-clr-hover: var(--text-inv);
        --text-clr-active: var(--text-inv);
    }

    &[data-type="secondary-light"] {
        --bg-clr: var(--bg-lighter);
        --hover-clr: var(--primary);
        --active-clr: var(--primary-dark);
        --text-clr: var(--text);
        --text-clr-hover: var(--text-inv);
        --text-clr-active: var(--text-inv);
    }

    &[data-type="tertiary"] {
        --bg-clr: var(--bg-light);
        --hover-clr: var(--bg-lighter);
        --active-clr: var(--bg-light);
        --text-clr: var(--text);
        --text-clr-hover: var(--text);
        --text-clr-active: var(--text);
    }

    &[data-type="tertiary-light"] {
        --bg-clr: var(--bg-lighter);
        --hover-clr: var(--bg-light);
        --active-clr: var(--bg-lighter);
        --text-clr: var(--text);
        --text-clr-hover: var(--text);
        --text-clr-active: var(--text);
    }
}