.button {
    padding: 10px 20px;
    border-radius: var(--radius-xl);
    background-color: var(--primary);
    color: var(--text);

    transition: background-color 2000ms ease;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: var(--primary-light);
    }

    &:active {
        background-color: var(--primary-dark);
    }
}