.formInput {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    height: 50px;
    background-color: var(--bg-light);
    border-radius: var(--radius-lg);

    border: 1px solid var(--bg-lighter);
    transition: border-color 200ms ease;

    &.error {
        border-color: var(--error);
        & > svg {
            fill: var(--error);
        }
    }
    
    & > input {
        font-size: 14px;
        background: none;
        color: var(--text);
        height: 100%;
        flex-grow: 1;
        // font-size: ;

        &::selection {
            background-color: var(--primary);
            color: var(--text);
        }

        &::placeholder {
            color: var(--text);
            opacity: 0.5;
        }
    }

    & > svg {
        fill: var(--text-dark);
        transition: fill 200ms ease;
    }

    &:focus-within {
        border-color: var(--primary);

        & > svg {
            fill: var(--primary);
        }
    }
}