@import url("./theme.less");

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.ttf") format("truetype");
    font-style: italic;
}


:root {
    // adds all themes color to root element
    .theme;
}

// Default styling
* {
    // Disable default padding & margin (i.e. on body element)
    margin: 0;
    padding: 0;

    // Disable default borders & outlines (i.e. on buttons)
    border: none;
    outline: none;

    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;

    color: var(--text);
}

code {
    font-family: "Courier New", Courier, monospace;
}


// Make sure the app takes up the whole window
body {
    width: 100vw;
    height: 100vh;
}

#root {
    background: var(--bg);
    width: 100%;
    height: 100%;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}