.entryView {

    --pad-x: 40px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;

    &-header {
        margin: 15px var(--pad-x) 0;
        gap: 15px;

        display: flex;

        border-radius: var(--radius-lg);
        background-color: var(--bg-light);

        & .editableProp {
            border-radius: var(--radius-lg);
        }

        & .urlLogo {
            height: 34px;
            width: 34px;
            padding: 5px;
            background: var(--bg-lighter);
        }
        
    }

    &-content {
        padding: 20px var(--pad-x) 0;
        display: flex;
        flex-direction: column;
        height: 100%;

        & .progressWrapper {
            padding-bottom: 20px;
            margin: 0
        }
        & .progressBar {
            height: 2px;
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        padding: 0 var(--pad-x);
        margin-bottom: var(--pad-x);
        margin-top: 10px;
        min-height: 40px;

        & .button {
            --hover-clr: var(--primary);
            --active-clr: var(--primary-dark);
            &.deleteButton {
                --hover-clr: var(--error);
                --active-clr: var(--error-dark);
            }
            &.backButton {
                --hover-clr: var(--bg-lighter);
                --active-clr: var(--bg-light);
            }

            height: 100%;
            min-height: unset;
            padding: 0 20px 0 15px;
            background-color: var(--bg-light);
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: var(--radius);
            color: var(--text-dark);
            user-select: none;

            font-size: 12px;

            &:hover {
                background-color: var(--hover-clr);
                color: var(--text);
                & > svg {
                    fill: var(--text);
                }
            }
            &:active {
                background-color: var(--active-clr);
            }
            & > svg {
                width: 20px;
                fill: var(--text-dark);
            }
        }
    }
}