.entryView {

    --pad-x: 40px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    user-select: none;

    animation: siteAppear 0.2s ease-in-out;

    &-header {
        margin: 15px var(--pad-x) 0;
        gap: 15px;

        display: flex;

        border-radius: var(--radius-lg);
        background-color: var(--bg-light);

        & .editableProp {
            border-radius: var(--radius-lg);
        }

        & .urlLogo {
            height: 34px;
            width: 34px;
            padding: 5px;
            background: var(--bg-lighter);
        }
        
    }

    &-content {
        padding: 20px var(--pad-x) 0;
        display: flex;
        flex-direction: column;
        height: 100%;

        & .progressWrapper {
            padding-bottom: 20px;
            margin: 0;

            & .progressBar {
                height: 2px;
                background-color: var(--divider);
            }

            & .progressLabels {
                padding: 0 17px;
            }
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        padding: 0 var(--pad-x);
        margin-bottom: var(--pad-x);
        margin-top: 10px;
        min-height: 40px;

        & .button {
            padding: 0 20px 0 15px;
            display: flex;
            align-items: center;
            gap: 5px;
            user-select: none;

            font-size: 12px;

            & > svg {
                width: 20px;
            }
        }
    }
}