
.dropdown {

    font-size: 16px;

    & .currentOption {
        display: flex;
        align-items: center;
        // max-width: calc(100% - 44px);
        overflow: hidden;
        flex-grow: 1;
    }

    & .dropdownIcon {
        margin-left: 10px;
        display: grid;
        place-items: center;
    }

    & .dropdownCaret {
        transform: rotate(90deg);
        transition: transform 0.2s ease;

        &.active {
            transform: rotate(270deg);
        }
    }

    transition: border-color 200ms ease;
    border: 1px solid var(--divider);

    &:hover {
        border-color: var(--primary);
    }
    
    cursor: pointer;
    & > * {
        cursor: pointer;
        z-index: 1;
    }
    // margin-left: 10px;
    background: var(--bg-light);
    width: 100%;

    min-height: 50px;
    border-radius: var(--radius-lg);
    padding: 0 15px 0 5px;


    position: relative;
    display: flex;
    align-items: center;

    & .dropdownOptionList {
        opacity: 0;
        border: 1px solid var(--divider);
        
        pointer-events: none;
        // display: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: calc(100% + 12px);
        left: -1px; // correct for border
        right: -1px;
        transform: scale(0.95) translateY(-10px);
        transition: transform 0.2s ease, opacity 0.2s ease;

        background: var(--bg-light);
        border-radius: 10px;
        padding: 5px;

        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

        &.visible {
            // display: block;
            opacity: 1;
            transform: scale(1) translateY(0);
            pointer-events: all;
        }

        .dropdownOption {
            border-radius: var(--radius);
            transition: background-color 200ms ease;

            &:hover {
                background-color: var(--bg-lighter);
            }
        }
    }
}
