
.dropdown {

    font-size: 16px;

    & .currentOption {
        display: flex;
        align-items: center;
        // max-width: calc(100% - 44px);
        overflow: hidden;
        flex-grow: 1;
    }

    & .dropdownIcon {
        margin-left: 10px;
        display: grid;
        place-items: center;

        & > svg {
            fill: var(--text-dark);
        }
    }

    & .dropdownCaret {
        transform: rotate(90deg);
        transition: transform 0.2s ease;

        &[data-open="true"] {
            transform: rotate(270deg);
        }
    }

    transition: border-color 200ms ease;
    border: 1px solid var(--divider);

    &:hover {
        border-color: var(--primary);
    }
    
    cursor: pointer;
    & > * {
        cursor: pointer;
        z-index: 1;
    }
    // margin-left: 10px;
    background: var(--bg-light);
    width: 100%;

    min-height: 50px;
    max-height: 50px;
    border-radius: var(--radius-lg);
    padding: 0 15px 0 5px;


    position: relative;
    display: flex;
    align-items: center;

    & * {
        user-select: none;
    }

    & .dropdownOptionList {
        opacity: 0;
        border: 1px solid var(--divider);
        
        pointer-events: none;
        // display: none;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        top: calc(100% + 11px);
        left: -1px; // correct for border
        right: -1px;
        transform: scale(0.95) translateY(-10px);
        transition: transform 0.2s ease, opacity 0.2s ease;

        background: var(--bg-light);
        border-radius: var(--radius-lg);
        padding: 5px;

        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
            // width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background: var(--divider);
            border-radius: var(--radius-lg);
        }
        &::-webkit-scrollbar-thumb:hover {
            background: var(--primary);
        }

        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

        &[data-open="true"] {
            // display: block;
            opacity: 1;
            transform: scale(1) translateY(0);
            pointer-events: all;
        }

        .dropdownOption {
            border-radius: var(--radius);
            transition: background-color 200ms ease;

            &:hover {
                background-color: var(--bg-lighter);
            }
        }
    }
}
