.errorMessage {
    color: var(--error);
    font-size: 0.8rem;
    padding: 10px 5px;
    background: var(--bg-light);
    border-radius: var(--radius-lg);
    border: 1px solid var(--error);

    & > span {
        margin-right: 5px;
        padding: 5px 10px;
        background: var(--error);
        border-radius: var(--radius);
    }
}