.addEntryInputs {
    display: flex;
    align-items: stretch;
    gap: 10px;
    
    flex-direction: column;

    & .formInput {
        height: 45px;
    }
}

.passwordInput {
    display: flex;
    align-items: center;
    gap: 10px;
    & .generateButton {
        width: 45px;
        height: 45px;
    }
    & .formInput {
        flex: 1;
    }

}
