.passwordListItem {
    height: 70px;
    flex-shrink: 0;
    &[data-compact="true"] {
        height: 40px;
        border-radius: var(--radius);
        border: none;
        margin-top: 5px;

        &:nth-child(odd) {
            background-color: rgba(255, 255, 255, 0.01);
        }

        & .passwordListItem-info1 {
            gap: 0;

            & .passwordListItem-name {
                font-size: 12px;
            }

            & .passwordListItem-infoURL {
                font-size: 10px;
            }
        }

        & .passwordListItem-info2 {
            gap: 0;

            & .passwordListItem-infoUsername {
                font-size: 10px;
            }

            & .passwordListItem-infoPassword {
                font-size: 10px;
            }
        }
    }

    border-bottom: 2px solid var(--divider);
    // border-top: 2px solid var(--bg-light);
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;

    opacity: 1;
    transition: opacity 100ms ease,
                height 200ms ease,
                padding 200ms ease,
                border-width 200ms ease,
                background-color 100ms ease;

    &[data-hidden="true"] {
        opacity: 0;
        height: 0;
        padding: 0;
        border-width: 0;
    }

    &:hover {
        background-color: rgba(0,0,0,0.05) !important;

        .passwordListItem-name {
            color: var(--primary);
        }
    }

    & img {
        height: 100%;
        width: 16px;
        // margin: 0 15px 0 10px;
        object-fit: contain;
    }

    & .passwordListItem-name {
        font-size: 14px;
        font-weight: bold;
        margin-right: auto;

        transition: color 100ms ease;
    }

    & .passwordListItem-info2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 10px;
        gap: 2px;
        user-select: none;

        & .passwordListItem-infoPassword {
            opacity: 0.4;
            font-size: 12px;
        }

        & .passwordListItem-infoUsername {
            opacity: 0.7;
            font-size: 12px;
        }
    }

    & .passwordListItem-info1 {
        display: flex;
        flex-direction: column;
        gap: 2px;
        user-select: none;
        overflow: hidden;

        & .passwordListItem-infoURL {
            opacity: 0.5;
            font-size: 11px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .passwordListItem-infoName {
            font-weight: bold;
            font-size: 14px;
        }
    }

    &-logo {
        margin-left: 6px;
        flex-shrink: 0;
    }
}

// .passwordListItem + .passwordListItem {
//     border-top: none;
// }