.passwordListItem {
    height: 70px;
    padding: 15px 0;
    border-bottom: 2px solid var(--bg-light);
    // border-top: 2px solid var(--bg-light);
    display: flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;

    opacity: 1;
    transition: opacity 100ms ease,
                height 200ms ease,
                padding 200ms ease,
                border-width 200ms ease,
                background-color 100ms ease;

    &[data-hidden="true"] {
        opacity: 0;
        height: 0;
        padding: 0;
        border-width: 0;
    }

    &:hover {
        background-color: rgba(0,0,0,0.05);

        .passwordListItem-name {
            color: var(--primary);
        }
    }

    & img {
        height: 100%;
        width: 16px;
        // margin: 0 15px 0 10px;
        object-fit: contain;
    }

    & .passwordListItem-name {
        font-size: 14px;
        font-weight: bold;
        margin-right: auto;

        transition: color 100ms ease;
    }

    & .passwordListItem-info2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 10px;
        gap: 2px;
        user-select: none;

        & .passwordListItem-infoPassword {
            opacity: 0.4;
            font-size: 12px;
        }

        & .passwordListItem-infoUsername {
            opacity: 0.7;
            font-size: 12px;
        }
    }

    & .passwordListItem-info1 {
        display: flex;
        flex-direction: column;
        gap: 2px;
        user-select: none;

        & .passwordListItem-infoURL {
            opacity: 0.5;
            font-size: 11px;
        }
        & .passwordListItem-infoName {
            font-weight: bold;
            font-size: 14px;
        }
    }

    &-logo {
        margin: 0 11px 0 6px;
    }
}

// .passwordListItem + .passwordListItem {
//     border-top: none;
// }